# ==========================================
# DeepSeek API (para tool_calling_example.py)
# ==========================================
DEEPSEEK_API_KEY=coloque_sua_chave_aqui
BASE_URL=https://api.deepseek.com/v1
MODEL=deepseek-flash

# ==========================================
# Claude API (para tool_calling_claude_example.py)
# ==========================================
ANTHROPIC_API_KEY=coloque_sua_chave_claude_aqui